

$auto : auto;

$var0 : 0px;
$var05 : 0.5;
$var2 : 2px;
$var3 : 3px;
$var5 : 5px;
$var6 : 6px;
$var15 : 15px;
$var10 : 10px;
$var18 : 18px;
$var20 : 20px;
$var25 : 25px;
$var30 : 30px;
$var35 : 35px;
$var50 : 50px;
$var90 : 90px;
$var100 : 100px;
$var150 : 150px;
$var180 : 180px;
$var200 : 200px;
$var250 : 250px;
$var300 : 300px;
$var350 : 350px;
$var400 : 400px;
$var450 : 450px;
$var600 : 600px;

$pour30 : 30%;
$pour50 : 50%;
$pour55 : 55%;
$pour60 : 60%;
$pour100 : 100%;

$coloraqua : aqua;
$colorchart : chartreuse;
$coloraquamar : aquamarine;
$colorblue : blue;
$colorwheat : wheat;
$colordarkblue: darkslateblue;

$posri : right;
$poslef : left;
$poscent : center;
$posabs : absolute;
$posrel : relative;
$posfix : fixed;

$fontbold : bold;
$solid : solid;